<div class="flex-layout">
  <header>
    <h1>Ventilation</h1>
  </header>
    <div class="comp-view">
      <mat-card class="config-card">
        <h2 class="centered-text">Temperature</h2>
        <div>
          <img class="rounded-centered" src="https://www.flaticon.com/svg/static/icons/svg/803/803469.svg" height="100px" width="100px">
        </div>
        <div>
          <div>
            <mat-slider
              class="centered"
              thumbLabel
              step="0.5"
              tickInterval="0.1"
              min="18"
              max="26"
              #tempSlider
              [value]="this.currentPreset.temp"
              [displayWith]="formatTemperature"
              (input)="changeTemperature($event)"
            ></mat-slider>
          </div>
          <div>
            <label class="align-left">min</label>
            <span class="example-spacer"></span>
            <label class="align-right">max</label>
          </div>

          <h2 class="centered-text" style="margin: 0">{{tempSlider.value}}&#176;</h2>
        </div>
        <mat-divider></mat-divider>
        <div>
          <h2 style="margin: 10px 0 0 0">Fan Speed</h2>
          <mat-icon class="centered" style="font-size: 48pt; width: 72px; height: 50px">speed</mat-icon>
          <mat-slider
            class="centered"
            thumbLabel
            step="1"
            tickInterval="0.1"
            min="0"
            max="100"
            #fanSlider
            (input)="changeFanSpeed($event)"
            [displayWith]="formatFanSpeed"
            [value]="this.currentPreset.fan">
          </mat-slider>
          <h2 class="centered-text" style="margin: 0">{{fanSlider.value}}%</h2>
        </div>
      </mat-card>

        <mat-card class="info-container config-card">
            <outside-temperature></outside-temperature>
          <div class="info-content" style="border-left: 1px solid grey">
            <mat-icon>house</mat-icon>
            <br>
            Temperature In
            <br>
            4&#176;C
          </div>
            <div class="info-content" style="border-top: 1px solid grey;">
              <mat-icon>invert_colors</mat-icon>
              <br>
              Humidity Out
              <br>
              20%
            </div>

            <div class="info-content" style="border-top: 1px solid grey; border-left: 1px solid grey">
              <mat-icon>water_damage</mat-icon>
              <br>
              Humidity Inside
              <br>
              20%
            </div>
        </mat-card>
<!--        <presets></presets>-->
    </div>
</div>
