<div class="flex-layout">
  <header>
    <h1>Ventilation</h1>
  </header>
    <div class="comp-view">
      <mat-card class="config-card" [class.mat-elevation-z2]="!shadowToggle" [class.mat-elevation-z2]="shadowToggle">
        <h2 class="centered-text">Temperature</h2>
        <div>
          <img class="rounded-centered" src="https://www.flaticon.com/svg/static/icons/svg/803/803469.svg" height="100px" width="100px">
        </div>
        <mat-divider></mat-divider>
        <div>
          <div>
            <mat-slider class="centered" thumbLabel [displayWith]="formatTemperature" step="0.5" tickInterval="0.1" min="18" max="26" (input)="temperatureChange($event)" [value]="temperature"></mat-slider>
          </div>
          <div>
            <label class="align-left">min</label>
            <span class="example-spacer"></span>
            <label class="align-right">max</label>
          </div>

          <h2 class="centered-text" style="margin: 0">{{temperature}}&#176;</h2>
        </div>

        <div>
          <mat-icon class="">speed</mat-icon>
          <mat-slider class="centered" thumbLabel [displayWith]="formatFanSpeed" step="1" tickInterval="0.1" min="0" max="100" (input)="changeFanSpeed($event)" [value]="fanSpeed"></mat-slider>
          <h2 class="centered-text" style="margin: 0">{{fanSpeed}}%</h2>
        </div>
      </mat-card>

        <mat-card class="outside-inside-comp config-card">
            <outside-temperature></outside-temperature>
          <div class="inside-temp">
            <mat-icon>house</mat-icon>
            Temperature In
            <br>
            4&#176;C
          </div>
            <div class="inside-temp">
              <mat-icon>invert_colors</mat-icon>
              Humidity Out
              <br>
              20%
            </div>

            <div class="inside-temp">
              <mat-icon>water_damage</mat-icon>
              Humidity Inside
              <br>
              20%
            </div>
        </mat-card>
<!--        <presets></presets>-->
    </div>
</div>
