<div class="flex-layout">
  <header>
    <h1>Check-In</h1>
  </header>
  <div class="temperature-view comp-view">
<!--    This should be updated with the number of rooms in db-->
    <mat-form-field appearance="outline">
      <mat-label mat-raised>Choose a Room</mat-label>
      <mat-select matNativeControl>
        <mat-option *ngFor="let room of rooms; index as i;" value="{{i}}" (onSelectionChange)="setRoom(i)">
          {{room.name}}
        </mat-option>
      </mat-select>
    </mat-form-field>



    <mat-form-field appearance="outline">
      <mat-label>{{ currentRoom == null ? "Select Room" : "Select Seat" }}</mat-label>
      <mat-select matNativeControl>
        <mat-option *ngFor="let vent of vents; index as i;"(onSelectionChange)="setSeat(i)">
          <mat-icon [ngStyle]="{'color':vent.user_id !== null ? 'red' : 'green' , 'border':currentSeat === i ? 'black' : 'none'}">chair</mat-icon>
          {{ vent.id }}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <mat-divider></mat-divider>
    <h2>Select on screen</h2>
    <mat-card class="chair-selector select-chair-group config-card">
      <div class="chair-select" *ngFor="let chairs of vents; index as i;"(click)="setSeat(i)">
        <mat-icon [ngStyle]="{'color':chairs.user_id !== null ? 'red' : 'green'}"
                  class="chair-select">
          chair
        </mat-icon>
      </div>
    </mat-card>

      <button mat-raised-button (click)="updatePreset();">Check In</button>
  </div>
</div>
