<div class="flex-layout">
  <header>
    <h1>Check-In</h1>
  </header>
  <div class="comp-view ">
<!--    This should be updated with the number of rooms in db-->
    <mat-card class="config-card">
      <mat-form-field style="width: 280px" appearance="outline">
        <mat-label mat-raised>Choose a Room</mat-label>
        <mat-select matNativeControl>
          <mat-option *ngFor="let room of rooms; index as i;" value="{{i}}" (onSelectionChange)="setRoom(i)">
            {{room.name}}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field style="width: 280px" appearance="outline">
        <mat-label>{{ currentRoom == null ? "---" : "Select Seat" }}</mat-label>
        <mat-select matNativeControl >
          <mat-option *ngFor="let seat of vents index as i;" (onSelectionChange)="setVent(i)" value="{{i}}">
            <mat-icon [ngStyle]="{'color':seat.user_id !== null ? 'red' : 'green'}">chair</mat-icon>
            {{ seat.id }}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </mat-card>

    <mat-card class="chair-selector select-chair-group config-card">
      <div class="chair-select" *ngFor="let chairs of vents; index as i;" (click)="setVent(i)" value="{{i}}">
        <mat-icon [ngStyle]="{
        'color':chairs.user_id !== null ? 'red' : 'green',
        'border':chairs.id === currentVent+1 ? '1px solid black' : 'none'
        }"
                  class="chair-select">
          chair
        </mat-icon>
      </div>
    </mat-card>

      <button mat-raised-button (click)="updatePreset()">Check In</button>
  </div>
</div>
