<div class="flex-layout">
  <header>
    <h1>Settings</h1>
  </header>


  <div class="comp-view">
    <mat-card class="config-card">
      <h2>Account</h2>
      <p>Name: Trump Jr.</p>
      <p>Email: trump@harris-lover.com</p>
      <p>Password: BiddenKissMyAss2020</p>
      <div style="text-align: center">
        <button mat-raised-button>Change Account settings</button>
      </div>

    </mat-card>
    <mat-card class="config-card">
      <h2>Presets</h2>
      <p>Start Temperature: 19c</p>
      <p>Start fan speed: 50%</p>
      <p>Start Lights: 80%</p>
      <div style="text-align: center">
        <button mat-raised-button>Change Presets</button>
      </div>
    </mat-card>
    <mat-card class="config-card">
      <h2>Other</h2>
      <p>Darkmode: on/off</p>
      <p>Language: Danglish</p>
      <p>About Vent2u</p>
      <p>Terms of Use</p>
    </mat-card>
    <button mat-raised-button>Logout</button>
  </div>
  <button mat-raised-button>Logout</button>
</div>
