<div mat-dialog-title class="dialog_heading">
  Account Settings
</div>
<div mat-dialog-content>

  <form class="example-form">
    <span>Username : </span>
    <mat-form-field class="example-full-width">
      <mat-label>{{data.username}}</mat-label>
      <input type="text" matInput [formControl]="userFormControl"
             placeholder="{{data.username}}" apperence="outline" #username>
    </mat-form-field>
    <br>
    <span>First Name : </span>
    <mat-form-field class="example-full-width">
      <mat-label>{{data.firstname}}</mat-label>
      <input type="text" matInput [formControl]="fnameFormControl"
             placeholder="{{data.firstname}}" apperence="outline" #first_name>
    </mat-form-field>
    <br>
    <span>Last Name : </span>
    <mat-form-field class="example-full-width">
      <mat-label>{{data.lastname}}</mat-label>
      <input type="text" matInput [formControl]="lnameFormControl" [errorStateMatcher]="matcher"
             placeholder="{{data.lastname}}" apperence="outline" #last_name name="lastname">
    </mat-form-field>
    <br>
<!--    <span>Username: {{data.username}} -> {{username.value}} </span> <br>-->
<!--    <span>First Name: {{data.firstname}} ->  {{first_name.value}}</span>  <br>-->
<!--    <span>Last Name: {{data.lastname}} -> {{last_name.value}}</span> <br>-->
    <button mat-raised-button (click)="saveSettings(username.value, first_name.value, last_name.value);">Submit</button>
  </form>


</div>
