<div class="flex-layout">
  <header>
    <h1>Settings</h1>
  </header>


  <div class="comp-view">
    <mat-card class="config-card">
      <h2>Account</h2>
      <p>Name: {{currentUser.first_name}}</p>
      <p>Username: {{currentUser.username}}</p>
      <p>Location: {{currentPreset.room}} : {{currentPreset.seat}}</p>
      <div style="text-align: center">
        <button mat-raised-button>Change Account settings</button>
      </div>

    </mat-card>
    <mat-card class="config-card">
      <h2>Presets</h2>
      <p>Start Temperature: {{currentPreset.temp}}c</p>
      <p>Start fan speed: {{currentPreset.fan}}%</p>
      <p>Start Lights: {{currentPreset.light}}%</p>
      <div style="text-align: center">
        <button mat-raised-button>Change Presets</button>
      </div>
    </mat-card>
    <mat-card class="config-card">
      <h2>Other</h2>
      <p>Darkmode: on/off</p>
      <p>About Vent2u</p>
      <p>Terms of Use</p>
    </mat-card>
    <button mat-raised-button>Logout</button>
  </div>
  <button mat-raised-button>Logout</button>
</div>
