<div class="flex-layout">
  <header>
    <h1>Lights</h1>
  </header>
  <div class="comp-view">
    <mat-card class="config-card" [class.mat-elevation-z2]="!shadowToggle" [class.mat-elevation-z2]="shadowToggle">
      <div>
        <h2 class="centered-text">Lights</h2>
      </div>
      <div>
        <img class="rounded-centered" src="https://www.flaticon.com/svg/static/icons/svg/117/117944.svg" height="100px" width="100px">
      </div>
      <mat-divider></mat-divider>
      <div>
        <div>
          <mat-slider class="centered" thumbLabel [displayWith]="formatLights" tickInterval="1" min="0" max="3" (input)="lightsChange($event)" [value]="lights"></mat-slider>
        </div>
        <div>
          <label class="align-left">min</label>
          <span class="example-spacer"></span>
          <label class="align-right">max</label>
        </div>
      </div>
      <h1 class="centered-text">{{lightsText}}</h1>
    </mat-card>

    <mat-card class="info-container config-card">
      <div class="info-content">
        <mat-icon>wb_sunny</mat-icon>
        <br>
        UV Radiation
        <br>
        400
      </div>

      <div class="info-content" style="border-left: 1px solid grey">
        <mat-icon>wb_incandescent</mat-icon>
        <br>
        Personal Light
        <br>
        50%
      </div>

      <div class="info-content" style="border-top: 1px solid grey;">
        <mat-icon>explore</mat-icon>
        <br>
        Sun Direction
        <br>
        40NV
      </div>

      <div class="info-content" style="border-top: 1px solid grey; border-left: 1px solid grey">
        <mat-icon>brightness_medium</mat-icon>
        <br>
        Avg Light in Class
        <br>
        20%
      </div>

    </mat-card>
    <!--        <presets></presets>-->
  </div>
</div>
