<nav>
    <ul>
      <li routerLink="CheckIn" [ngSwitch]="currentPreset.seat">
        <div *ngSwitchCase="null">
          <span ><mat-icon>people</mat-icon> </span> Check In
        </div>
        <div *ngSwitchDefault>
          <span ><mat-icon>people</mat-icon> </span><!-- Room: {{currentPreset.room || 0}} -->  Seat: {{currentPreset.seat}}
        </div>

      </li>
      <li routerLink="Temperature"><span *ngIf="currentPreset">{{ currentPreset.temp | celsius }}</span> Ventilation</li>
      <li routerLink="Lights" [ngSwitch]="currentPreset.light">
        <span *ngSwitchCase="0">0%</span>
        <span *ngSwitchCase="1">30%</span>
        <span *ngSwitchCase="2">60%</span>
        <span *ngSwitchCase="3">100%</span>
        <span *ngSwitchDefault>Error</span>
        Lights</li>
      <li routerLink="Settings"><span> <mat-icon>settings</mat-icon> </span>Settings</li>
    </ul>
</nav>
