body{
  background-image: url("./pngwing.png");
}
header{
  text-align: center;
}
.comp-view {
  padding: 0 25px;
  display: flex;
  flex-direction: column;

  justify-content: space-around;
  padding-bottom: 85px;
}
mat-card{
  margin-bottom: 10px;
}
.temperature-counter {
  padding: 20px 0;
}

h2 {
  text-align: center;
}
.info-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  /*grid-column-gap: 30px;*/

}
.info-content {
  /*border-radius: 5px;*/
  /*background: #FFFFFF;*/
  text-align: center;
  /*padding: 5px 0;*/
  /*margin-bottom: 5px;*/
  /*box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);*/
}
.info-content {

}
.chair-selector{
  text-align: center;
}
.chair-selector hr{
  margin: 2px;
}
.chair-select{
  padding: 5px;
}
.flex-layout {
  display: flex;
  flex-direction: column;
}
.config-card{
  height: auto;
  background-color: rgba(0,0,0, 0);
}
.mat-slider-track-fill, .mat-accent .mat-slider-thumb, .mat-accent .mat-slider-thumb-label {
  background-color: blue !important;
}
.select-chair-group-row{

}
.select-chair-group-2x10{
  display: grid;
  grid-template-columns: 1fr 1fr;
  /*grid-template-rows: 25% 100px auto;*/
  border: 1px solid black;
}
.select-chair-group-4x5{
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
}
.select-chair-group{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-gap: 4px;
}
.chair-group{

}
.select{
  width: 80%;
}
/*Test Site*/
.btn-round {
  background-color: #d23f31;
  border-radius: 999em;
  width: 56px;
  height: 56px;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
  line-height: 1;
  font-size: 36px;
  position: relative;
  cursor: pointer;
  display: inline-block;
}

.btn-round span {
  position: absolute;
  left: 0;
  top: 50%;
  height: 100%;
  width: 100%;
  text-align: center;
  margin-top: -22px;
  color: #FFF;
}
.config-card {
  background-color: none;
}

.centered {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.centered-text {
  vertical-align: bottom;
  text-align: center;
}

.align-left {
  float: left;
  text-align: left;
  width: 20px;
}

.align-right {
  float: right;
  text-align: right;
  width: 20px;
}

.rounded {
  border-radius: 50%;
}

.rounded-centered {
  border-radius: 50%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 10px;
}
