<div class="flex-layout">
  <header>
    <h1>Check-In</h1>
  </header>
  <div class="temperature-view">
<!--    This should be updated with the number of rooms in db-->
    <mat-form-field appearance="outline">
      <mat-label mat-raised>Choose a Room</mat-label>
      <mat-select matNativeControl>
        <mat-option value="saharan">D3-17</mat-option>
        <mat-option value="aircooled">D3-16</mat-option>
        <mat-option value="cold">D3-15</mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Chose Seat</mat-label>
      <mat-select matNativeControl>
        <mat-option value="saharan">1 <mat-icon style="color: darkred">chair</mat-icon></mat-option>
        <mat-option value="aircooled">2 <mat-icon style="color: darkred">chair</mat-icon></mat-option>
        <mat-option value="cold">3 <mat-icon style="color: darkgreen">chair</mat-icon></mat-option>
      </mat-select>
    </mat-form-field>
    <h2>Select on screen</h2>
    <mat-card class="outside-inside-temp">
      <div>
        <mat-icon style="color: darkred">chair</mat-icon>
        <mat-icon style="color: darkred">chair</mat-icon>
        <mat-icon style="color: darkgreen">chair</mat-icon>
        <mat-icon style="color: darkgreen">chair</mat-icon>
        <mat-icon style="color: darkred">chair</mat-icon>
        <mat-icon style="color: darkgreen">chair</mat-icon>
        <mat-icon style="color: darkgreen">chair</mat-icon>
        <mat-icon style="color: darkgreen">chair</mat-icon>
        <mat-icon style="color: darkgreen">chair</mat-icon>
        <mat-icon style="color: darkgreen">chair</mat-icon>
      </div>
      <div>
        <mat-icon style="color: darkred">chair</mat-icon>
        <mat-icon style="color: darkred">chair</mat-icon>
        <mat-icon style="color: darkgreen">chair</mat-icon>
        <mat-icon style="color: darkgreen">chair</mat-icon>
        <mat-icon style="color: darkred">chair</mat-icon>
        <mat-icon style="color: darkgreen">chair</mat-icon>
        <mat-icon style="color: darkgreen">chair</mat-icon>
        <mat-icon style="color: darkgreen">chair</mat-icon>
        <mat-icon style="color: darkgreen">chair</mat-icon>
        <mat-icon style="color: darkgreen">chair</mat-icon>
      </div>
      <div>
        <mat-icon style="color: darkred">chair</mat-icon>
        <mat-icon style="color: darkred">chair</mat-icon>
        <mat-icon style="color: darkgreen">chair</mat-icon>
        <mat-icon style="color: darkgreen">chair</mat-icon>
        <mat-icon style="color: darkred">chair</mat-icon>
        <mat-icon style="color: darkgreen">chair</mat-icon>
        <mat-icon style="color: darkgreen">chair</mat-icon>
        <mat-icon style="color: darkgreen">chair</mat-icon>
        <mat-icon style="color: darkgreen">chair</mat-icon>
        <mat-icon style="color: darkgreen">chair</mat-icon>
      </div>
      <div>
        <mat-icon style="color: darkred">chair</mat-icon>
        <mat-icon style="color: darkred">chair</mat-icon>
        <mat-icon style="color: darkgreen">chair</mat-icon>
        <mat-icon style="color: darkgreen">chair</mat-icon>
        <mat-icon style="color: darkred">chair</mat-icon>
        <mat-icon style="color: darkgreen">chair</mat-icon>
        <mat-icon style="color: darkgreen">chair</mat-icon>
        <mat-icon style="color: darkgreen">chair</mat-icon>
        <mat-icon style="color: darkgreen">chair</mat-icon>
        <mat-icon style="color: darkgreen">chair</mat-icon>
      </div>

    </mat-card>

      <button style="margin-top: 20px" mat-raised-button>Check In</button>


    <!--        <presets></presets>-->
  </div>
</div>
